html,
body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

button {
  padding: 8px;
  cursor: pointer;
}

#sketchArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.flex-box {
  display: flex;
}

.bg-black {
  background-color: black;
}
